// -- Outline App Logo -- //
html, body {
	width: 100vw;
  height: 100vh;
}

// -- Google Button -- //
.google-logo-wrapper {
	padding: 10px 12px 10px 10px;
	background: $colour-background;
	float: left;
}

.google-logo {
	width: 18px;
	height: 18px;
}
// -- Google Button -- //

// -- Action Button -- //
#sign_in .btn, #sign_out .btn {
	border-radius: 2px;
}

#sign_in .btn {
	background-color: $colour-background;
	padding: 0;
  
	span {
		font-size:16px;
		line-height:38px;
		padding-left: 12px;
		padding-right: 8px;
    letter-spacing: .21px;
    vertical-align: top;
	}
}

.btn-outline-action {
  color: $colour-highlight;
  border-color: $colour-highlight;
	&:hover {
		border-color: $colour-highlight;
		background-color: $colour-highlight !important;
	}
	&:focus {
		-webkit-box-shadow: 0 0 0 2px rgba(darken($colour-emphasis, 20%), 0.5);
    box-shadow: 0 0 0 2px rgba(darken($colour-emphasis, 20%), 0.5);
	}
}

.btn-action {
  color: $colour-background !important;
  border-color: $colour-highlight;
	background-color: $colour-highlight;
	&:hover {
		border-color: darken($colour-highlight, 10%);
		background-color: darken($colour-highlight, 10%) !important;;
	}
	&:focus {
		-webkit-box-shadow: 0 0 0 2px rgba(darken($colour-emphasis, 20%), 0.5);
    box-shadow: 0 0 0 2px rgba(darken($colour-emphasis, 20%), 0.5);
	}
}

.btn-disabled {
	pointer-events: none;
}
// -- Action Button -- //

// -- Keyboard Shortcuts -- //
em.kb-shortcut {
	white-space: nowrap !important;
	font-size: 90%;
	font-style: normal;
	text-transform: uppercase;
	border-radius: 0.2rem;
	padding: 0 0.2rem;
	margin: 0 0.1rem;
	background-color: $colour-general;
	color: $colour-background;
}
// -- Keyboard Shortcuts -- //

// -- Border the bottom of the Navbar -- //
nav.navbar.bg-faded {
	background-color: $colour-section;
	border-bottom: 1px solid $colour-emphasis;
}
// -- Border the bottom of the Navbar -- //

// -- Dock Alerts to the Top -- //
div.alert:first-child { 
	margin-bottom: 0;
	button.float-right.close {
		padding: 0;
		top: 0;
	}
}
// -- Dock Alerts to the Top -- //

// -- Content Spacer -- //
.content {
	margin-bottom: 0.5rem;
	> .container {
		margin-top: 0.5rem;
	}
}


#site_nav {
	z-index: 10;
}

#sheet_tabs {
	padding-top: 0.5rem;
}

#paths, #sheet_tabs, #folder_tabs {
	z-index: 1;
	position: relative;
	background-color: $colour-background;
}

ul.nav-tabs li.nav-item.dropdown {
	.dropdown-toggle {
		float: left;
		background-color: $colour-deemphasise;
		border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
		margin-right: -0.25rem;
		padding-right: 0.7rem;
		padding-top: 0.5rem;
		z-index: 2;
	}
	.dropdown-menu {width: 100%;}
}

div.tab-pane {
	overflow-x: auto;
	overflow-y: auto;
	width: 100%;
	height: 100%;
	-webkit-overflow-scrolling: touch; // Smooth Scrolling on Mobile / IOS
	scroll-behavior: smooth;
	
	// -- Scroll Bar -- //
	&::-webkit-scrollbar {
		-webkit-appearance: none;
	}

	&::-webkit-scrollbar-thumb {
		background-color: rgba($colour-highlight, 0.4);
		border: 3px solid transparent;
		border-radius: 9px;
		background-clip: content-box;
	}

	&::-webkit-scrollbar-track {
		background-color: rgba($colour-foreground, 0.4);
		width: 15px;
	}
	
	&::-webkit-scrollbar-corner {
		background-color: rgba($colour-foreground, 0.4);	
	}
	// -- Scroll Bar -- //
	
}

a.nav-link[data-type='folder'] {
	&:after {
		content: "\2691";
		padding-left: 5px;
	}
}

a.nav-link[data-type='search'] {
	&:after {
		content: "\2690";
		padding-left: 5px;
	}
}

div.modal {
	-webkit-overflow-scrolling: touch; // Smooth Scrolling on Mobile / IOS
	scroll-behavior: smooth;
}

a.disabled, input.disabled {
   pointer-events: none;  // Allows for touch scrolling on disabled elements
}

.action-succeeded {
	&:after {
		content: "\2714";
		padding-left: 5px;
	}
}

.action-failed {
	&:after {
		content: " \274c";
	}
}

// -- Results -- //
.results {
	
	$result-height: 100px;
	min-height: $result-height;
	
	.result {
		
		&.success svg path.result-result {
			stroke: $colour-success;
		}
		
		&.failure path.result-result {
			stroke: $colour-error;
		}
		
		&.indeterminate path.result-result {
			stroke: $colour-warning;
		}
		
		svg {
	
			max-height: $result-height;

			path {
				fill: none;
				stroke-linejoin: round;
				stroke-linecap: butt;
				
				&.result-container {
					stroke: $colour-deemphasise;
					stroke-width: 2.0;
					opacity: 0;
					stroke-dasharray: 130;
					stroke-dashoffset: 130;
					@include transition(all 1s);
				}

				&.result-result {
					stroke-width: 4.0;
					opacity: 0;
					stroke-dasharray: 50;
					stroke-dashoffset: 50;
					@include transition(stroke-dashoffset 1s 0.5s ease-out);
				}
				
			}

		}
		
		.details, .details a {
			color: transparent;
			@include transition(all 1.5s 0.5s ease-out);
		}
	}
	
}
// -- Results -- //

// -- Badges -- //
.badge {
	.close {
		margin-left: .25rem;
		color: inherit;
		font-size: 100%;
		text-shadow: 0 1px 0 rgba(#000, .5);
	}
	.material-icons {
		color: inherit;
		font-size: 85%;
	}
}
// -- Badges -- //

// -- Folder Cells -- //
td.folder {background-color: beige;}
td a.star {
	&.starred {color: $colour-general-light !important;}
	&.un-starred {color: $colour-emphasis !important;}
	&:hover {text-decoration: none; font-weight: bold;}
}
// -- Folder Cells -- //