// -- Outline App Logo -- //
html, body {
	width: 100vw;
  height: 100vh;
}

// -- General -- //
.text-select {
  user-select: text;
}

// -- General Buttons -- //
.btn {
  text-transform: none;
}
// -- General Buttons -- //

// -- Google Button -- //
.google-logo-wrapper {
	padding: 10px 12px 10px 10px;
	background: $colour-background;
	float: left;
  .google-logo {
		width: 18px;
		height: 18px;
    svg {vertical-align: initial;}
	}
}


// -- Google Button -- //

// -- Checking -- //
.checking:after {
  content: "Checking" !important;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
}
// -- Checking -- //

// -- Ellipsis Waiting -- //
.waiting {
  margin-right: 1em;
  &:after {
    margin-right: -2.5em;
    margin-left: 0.25em;
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    @include animation(ellipsis steps(6,end) 1.5s infinite 400ms);
    content: "\2026";
    width: 0px;
  }
}

@include animation-keyframes(ellipsis) {
  to {width: 1.25em;}
}
// -- Ellipsis Waiting -- //

// -- Action Button -- //
#sign_in .btn, #sign_out .btn {
	border-radius: 2px;
}

#sign_in .btn {
	background-color: $colour-background;
	padding: 0;
  
	span {
		font-size:16px;
		line-height:38px;
		padding-left: 12px;
		padding-right: 8px;
    letter-spacing: .21px;
    vertical-align: top;
	}
}

.btn-outline-action {
  color: $colour-highlight;
  border-color: $colour-highlight;
	&:hover {
    color: $colour-background;
		border-color: $colour-highlight;
		background-color: $colour-highlight !important;
	}
	&:focus {
		-webkit-box-shadow: 0 0 0 2px rgba(darken($colour-emphasis, 20%), 0.5);
    box-shadow: 0 0 0 2px rgba(darken($colour-emphasis, 20%), 0.5);
	}
}

.btn-action {
  color: $colour-background !important;
  border-color: $colour-highlight;
	background-color: $colour-highlight;
	&:hover {
		border-color: darken($colour-highlight, 10%);
		background-color: darken($colour-highlight, 10%) !important;;
	}
	&:focus {
		-webkit-box-shadow: 0 0 0 2px rgba(darken($colour-emphasis, 20%), 0.5);
    box-shadow: 0 0 0 2px rgba(darken($colour-emphasis, 20%), 0.5);
	}
}
// -- Action Button -- //

// -- Other Buttons -- //
.btn-bright {
  color: $colour-bright-foreground !important;
  border-color: $colour-bright-background;
	background-color: $colour-bright-background;
	&:hover {
		border-color: darken($colour-bright-background, 10%);
		background-color: darken($colour-bright-background, 10%) !important;
	}
	&:focus {
		-webkit-box-shadow: 0 0 0 2px rgba(darken($colour-bright-foreground, 20%), 0.5);
    box-shadow: 0 0 0 2px rgba(darken($colour-bright-foreground, 20%), 0.5);
	}
}
// -- Other Buttons -- //

// -- Border the bottom of the Navbar -- //
nav.navbar.bg-faded {
	background-color: $colour-section;
	border-bottom: 1px solid $colour-emphasis;
}
// -- Border the bottom of the Navbar -- //

// -- Dock Alerts to the Top -- //
div.alert:first-child { 
	margin-bottom: 0;
	button.float-right.close {
		padding: 0;
		top: 0;
	}
}
// -- Dock Alerts to the Top -- //

// -- Content Spacer -- //
.content {
	margin-bottom: 0.5rem;
	> .container {
		&:first-child {margin-top: 0.5rem;}
	}
}
// -- Content Spacer -- //

// -- Gradient Background -- //
.bg-highlight-gradient {
  &.left-to-right {@include complex_LinearGradient(100grad,rgba($colour-highlight, 0.07) rgba($colour-highlight, 0.05) rgba($colour-highlight, 0),0% 20% 100%);}
  &.right-to-left {@include complex_LinearGradient(300grad,rgba($colour-highlight, 0.07) rgba($colour-highlight, 0.05) rgba($colour-highlight, 0),0% 20% 100%);}
  &.top-to-bottom {@include complex_LinearGradient(200grad,rgba($colour-highlight, 0.07) rgba($colour-highlight, 0.05) rgba($colour-highlight, 0),0% 20% 100%);}
  &.bottom-to-top {@include complex_LinearGradient(0grad,rgba($colour-highlight, 0.07) rgba($colour-highlight, 0.05) rgba($colour-highlight, 0),0% 20% 100%);}
}

.bg-bright-gradient {
  &.left-to-right {@include complex_LinearGradient(100grad,rgba($colour-bright-background, 0.15) rgba($colour-bright-background, 0.05) rgba($colour-bright-background, 0),0% 20% 100%);}
  &.right-to-left {@include complex_LinearGradient(300grad,rgba($colour-bright-background, 0.15) rgba($colour-bright-background, 0.05) rgba($colour-bright-background, 0),0% 20% 100%);}
  &.top-to-bottom {@include complex_LinearGradient(200grad,rgba($colour-bright-background, 0.15) rgba($colour-bright-background, 0.05) rgba($colour-bright-background, 0),0% 20% 100%);}
  &.bottom-to-top {@include complex_LinearGradient(0grad,rgba($colour-bright-background, 0.15) rgba($colour-bright-background, 0.05) rgba($colour-bright-background, 0),0% 20% 100%);}
}
// -- Gradient Background -- //

// -- Bright Background -- //
.bg-bright {
	background-color: $colour-bright-background;
}
// -- Bright Background -- //

// -- Site Navigation Bar -- //
#site_nav {
	z-index: 10;
}

ul.nav-tabs li.nav-item.dropdown {
	a.nav-link.show + .dropdown-toggle.d-current {display: inline-block !important;}
	.dropdown-toggle {
		float: left;
		background-color: $colour-deemphasise;
		border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
		margin-right: -0.25rem;
		padding-right: 0.7rem;
		padding-top: 0.5rem;
		z-index: 2;
	}
	.dropdown-menu {width: 100%;}
}

.material-icons.toggler {
	margin-right: -0.5em;
	color: rgba($colour-highlight, 0.5) !important;
}
// -- Site Navigation Bar -- //

// -- General -- //
div.modal {
	-webkit-overflow-scrolling: touch; // Smooth Scrolling on Mobile / IOS
	scroll-behavior: smooth;
}

a.disabled, input.disabled, .btn-disabled {
   pointer-events: none;  // Allows for touch scrolling on disabled elements
}

.holder {
	&:focus {outline: none;}
}
// -- General -- //

// -- Results (For Help/Support) -- //
.results {
	
	$result-height: 100px;
	min-height: $result-height;
	
	.result {
		
		&.success svg path.result-result {
			stroke: $colour-success;
		}
		
		&.failure path.result-result {
			stroke: $colour-error;
		}
		
		&.indeterminate path.result-result {
			stroke: $colour-warning;
		}
		
		svg {
	
			max-height: $result-height;

			path {
				fill: none;
				stroke-linejoin: round;
				stroke-linecap: butt;
				
				&.result-container {
					stroke: $colour-deemphasise;
					stroke-width: 2.0;
					opacity: 0;
					stroke-dasharray: 130;
					stroke-dashoffset: 130;
					@include transition(all 1s);
				}

				&.result-result {
					stroke-width: 4.0;
					opacity: 0;
					stroke-dasharray: 50;
					stroke-dashoffset: 50;
					@include transition(stroke-dashoffset 1s 0.5s ease-out);
				}
				
			}

		}
		
		.details, .details a {
			color: transparent;
			@include transition(all 1.5s 0.5s ease-out);
		}
	}
	
}
// -- Results -- //

// -- Badges -- //
.badge {
	.close {
		margin-left: .25rem;
		color: inherit;
		font-size: 100%;
		text-shadow: 0 1px 0 rgba(#000, .5);
	}
	.material-icons {
		font-size: 90%;
		color: inherit;
	}
	a, a[role=button], a > .material-icons {
		color: inherit;
		&:hover {text-decoration: none; font-weight: bold;}
	}
}
// -- Badges -- //