// -- Outline Letter Logo -- //
a.navbar-brand.logo, .navbar-brand a.logo {
	max-height: 48px;
	svg {
		height: 40px;	
		pointer-events: visible;
		path {
			&.o {
				stroke: $colour-highlight;
				stroke-width: 2;
				stroke-linejoin: round;
				stroke-linecap: butt;
			}
			&.f {
				fill: lighten($colour-highlight, 50%); // #ffedfa
				fill-opacity: .89;
				fill-rule: evenodd;
			}
		}
		&:hover {
			path {
				&.o {stroke: darken($colour-highlight, 30%);}
				&.f {fill: lighten($colour-highlight, 45%);}
			}
		}
	}
}
// -- Outline Letter Logo -- //

// -- Menu Branding -- //
.dropdown-heading {
	padding: 4px 1rem;
	font-weight: 400;
	line-height: 1;
	margin-bottom: 2px;
	text-wrap: nowrap;
	font-size: 100%;
	border-bottom: 1px dashed lighten($colour-highlight, 25%);
}
// -- Menu Branding -- //

// -- Outline App Logo -- //
.dropdown-item, .app-logo, .jumbotron h1 {
	svg {
		path {
			&.o {
				stroke-width: 2;
			}
			&.p {
				stroke-width: 3;
			}
			&.o, &.p {
				stroke: darken($colour-highlight, 10%);
				stroke-linejoin: round;
				stroke-linecap: round;
			}
		}
	}
}
.dropdown-item {
	svg {
		max-height: 1em;
		max-width: 1em;
		margin: 0 0.5em -0.1em -0.5em;
	}
}

.app-logo {
	svg {
		max-width: 100%;
		height: auto;
		pointer-events: visible;
		&:hover {
			path {
				&.o, &.p {stroke: darken($colour-highlight, 20%);}
			}
		}
	}
}
// -- Outline Letter Logo -- //

// -- Ensure Sufficient Contrast for Text, Links & Buttons -- //
.jumbotron .text-secondary {color: $colour-contrasting-secondary !important;}
.text-success, strong.text-success {color: $colour-contrasting-success !important;}
a {color: $colour-contrasting-link;}
.bg-light .btn-outline-primary {
	color: $colour-contrasting-primary;
	border-color: $colour-contrasting-primary;
	&:hover {
		color: $colour-background;
		background-color: $colour-contrasting-primary;
		border-color: $colour-contrasting-primary;
	}
}
.btn-success, .btn-outline-success {font-weight: 500;}
.btn-success, .btn-outline-success {
	border-color: $colour-contrasting-success;
} 
.btn-success {
	background-color: $colour-contrasting-success;
	&:hover {
		background-color: darken($colour-contrasting-success, 5%);
		border-color: darken($colour-contrasting-success, 10%);
	}
}
.btn-outline-success {
	color: $colour-contrasting-success;
	&:hover {
		color: $colour-background;
		background-color: $colour-contrasting-success;
		border-color: $colour-contrasting-success;
	}
}

.lead {
	code {
		font: inherit;
		color: $colour-support;
		font-weight: bold;
		padding: 0;
		background-color: inherit;
	}
}

.wrap-break {
  overflow-wrap: break-word;
}

a.no-underline {
	&:hover {text-decoration: none;}
}