// -- Outline Letter Logo -- //
a.navbar-brand.logo, .navbar-brand a.logo {
	svg {
		height: 40px;	
		pointer-events: visible;
		path {
			&.o {
				stroke: $colour-highlight;
				stroke-width: 2;
				stroke-linejoin: round;
				stroke-linecap: butt;
			}
			&.f {
				fill: lighten($colour-highlight, 50%); // #ffedfa
				fill-opacity: .89;
				fill-rule: evenodd;
			}
		}
		&:hover {
			path {
				&.o {stroke: darken($colour-highlight, 30%);}
				&.f {fill: lighten($colour-highlight, 45%);}
			}
		}	
	}
}
// -- Outline Letter Logo -- //

// -- Menu Branding -- //
.dropdown-heading {
  &:first-child {margin-top: -0.5em;}
	padding: 0.5rem 1rem 0.2rem 1rem;
	font-weight: 400;
	line-height: 1;
	margin-bottom: 2px;
	text-wrap: nowrap;
	font-size: 100%;
	border-bottom: 1px dashed lighten($colour-highlight, 25%);
  background-color: transparentize($colour-highlight, 0.95);
}
// -- Menu Branding -- //

// -- Menu Hiding -- //
.navbar-nav > .nav-item.disabled {
  display: none;
}
// -- Menu Hiding -- //

// -- Outline App Logo -- //
.dropdown-item svg, .app-logo svg, .jumbotron h1 svg, svg.logo {
	path, use {
    &.c, &.f {stroke-width: 1;}
    &.c {fill-opacity: 0;}
    &.f {fill-opacity: 0.3;}
    &.d {
      fill-opacity: 0.05;
      stroke-dasharray: 8;
    }
    &.f, &.d {fill: lighten($colour-highlight, 10%);}
		&.o, &.d {stroke-width: 2;}
		&.p {stroke-width: 3;}
		&.o, &.p {
			stroke-linejoin: round;
			stroke-linecap: round;
		}
    &.o, &.p, &.d {stroke: darken($colour-highlight, 10%);}
   	&.c {stroke: lighten($colour-highlight, 40%);} 
	}
}

.dropdown-item {
  &.toggler_child {
    overflow: hidden;
    text-overflow: ellipsis;
  }
	svg {
		max-height: 1em;
		max-width: 1em;
		margin: 0 0.5em 0.2em -0.5em;
	}
}

svg.logo {
	max-height: 2em;
	max-width: 2em;
}

.app-logo svg {
  max-width: 100%;
  height: auto;
}

a.app-logo svg {
  pointer-events: visible;
  &:hover {
    path {
      &.o, &.p {stroke: darken($colour-highlight, 20%);}
    }
  }
}
// -- Outline Letter Logo -- //

// -- Opacity -- //
.transition-opacity {
  will-change: opacity;
  transition-property: opacity;
  transition-duration: 0.2s;
}

.o-none {
  opacity: 0 !important;
}

.o-full {
  opacity: 1;
}
// -- Opacity -- //

// -- Popovers -- //
div.tooltip {
  p {
    margin: 0;
  }
}
// -- Popovers -- //

// -- Tables -- //
.table.thead-dark thead th {
  color: $colour-background;
  background-color: $colour-general-midlight;
  border-color: $colour-general-lighter;
  &+th {
    border-left: 1px solid $colour-general-verylight;
  }
}
// -- Tables -- //

// -- Keyboard Shortcuts -- //
em.kb-shortcut, strong.kb-shortcut {
	white-space: nowrap !important;
	font-size: 90%;
	font-style: normal;
	text-transform: uppercase;
	border-radius: 0.2rem;
	padding: 0 0.2rem;
	margin: 0 0.1rem;
	background-color: $colour-general;
	color: $colour-background;
}
.tooltip em.kb-shortcut {
  background-color: $colour-background !important;
	color: $colour-general !important;
}
// -- Keyboard Shortcuts -- //

// -- List Groups -- //
.list-group-dark > .active {
  background-color: $colour-list-dark-active-bg !important;
  border-color: $colour-list-dark-active-bd !important;
}
// -- List Groups -- //
// -- Badges -- //
.badge-bright {
	color: $colour-bright-foreground;
	background-color: $colour-bright-background;
}

.badge-rainbow {
  color: $colour-background !important;
  @include arrayed_Gradient(darken(rgba(0,255,0,0.9), 10%) rgba(255,0,0,0.9) rgba(0,0,255,0.9), 80%);
}

.badge-attention {
  color: $colour-background !important;
  @include arrayed_Gradient(rgba(204,0,183,0.9) rgba(82,5,135,0.9) darken(rgba(82,11,135,0.9), 20%), 70%);
}

.badge-target {
  color: $colour-background !important;
  @include arrayed_Gradient(rgba(200,200,0,0.95) rgba(0,0,0,0.95) rgba(66,5,50,0.9) rgba(50,49,50,0.9), 60%, 0 0 0 0.7);
}

.badge-vital {
  color: $colour-background !important;
  @include arrayed_Gradient(darken($colour-vital, 15%) $colour-vital lighten($colour-vital, 10%), 50%, 0 0 0.65);
}

.badge-highlight {
  color: $colour-background !important;
	background-color: lighten($colour-highlight, 10%) !important
}
// -- Badges -- //

// -- Backgrounds -- //

// -- Bright Background -- //
.bg-bright {
	background-color: $colour-bright-background;
}
// -- Bright Background -- //

// -- Action Backgrounds -- //
.bg-action, .bg-highlight {
	background-color: $colour-highlight !important;
}

.bg-action-light, .bg-highlight-light {
	background-color: lighten($colour-highlight, 50%) !important;
}

.bg-action-lightest, .bg-highlight-lightest {
	background-color: transparentize(lighten($colour-highlight, 50%), 0.75) !important;
}

.bg-action-barely, .bg-highlight-barely {
	background-color: transparentize(lighten($colour-highlight, 50%), 0.85) !important;
}

.bg-action-dark, .bg-highlight-dark {
	background-color: darken($colour-highlight, 10%) !important;
}
// -- Action Backgrounds -- //

// -- Other Backgrounds -- //
.bg-success-light {
	background-color: $colour-light-success !important;
}

.bg-danger-light {
	background-color: $colour-light-danger !important;
}
// -- Other Backgrounds -- //

// -- Opacities -- //
.o-10 {
  opacity: 0.1;
}
.o-25 {
  opacity: 0.25;
}
.o-50 {
  opacity: 0.5;
}
.o-75 {
  opacity: 0.75;
}
.o-100 {
  opacity: 1;
}
// -- Opacties -- //

// -- Backgrounds -- //