@import "mixins/transitions";

// -- Diary -- //
#diary {
  a.day {
    color: inherit;
    &:hover {text-decoration: underline;}
   }
  
  div.present h4, a.present h4, h4.present {
    margin-left: -5px;
    padding-left: 20px;
  }
  a.present h4, h4.present {
    background-color: $colour-highlight;
    color: $colour-background;
    will-change: box-shadow, transform;
  	@include transition(box-shadow);
  	box-shadow: map-get($shadows, 4);
  }
  
  div.present {
    box-shadow: map-get($shadows, 1);
    border-color: rgba($colour-highlight, 0.3) !important;
    a {
      &.day {
        padding: 0;
        &.present {
          will-change: box-shadow, transform;
          @include transition(box-shadow);
          &:hover {
            box-shadow: map-get($shadows, 6) !important;
            text-decoration: none !important;
          }
        }
      }
    }
  }
  
  div.focussed hr {border-top: 3px double $colour-general;}
}

#diary, #diary_list {
	div.item {
    will-change: padding-top, background-color;
    @include transition(padding-top 0.2s ease, background-color 0.6s linear);
    &.drop-target {padding-top: 1em !important;}
    &.due-soon > .display, &.overdue > .display {border-radius: 3px;}
    &.due-soon > .display {@include complex_LinearGradient(100grad,rgba($colour-warning, 0.2) rgba($colour-warning, 0.05) rgba($colour-warning, 0),0% 40% 100%);}
    &.overdue >  .display {@include complex_LinearGradient(100grad,rgba($colour-error, 0.2) rgba($colour-error, 0.05) rgba($colour-error, 0),0% 40% 100%);}
    &.editable {
      cursor: pointer;
      border-radius: 4px;
      &:hover {
        box-shadow: map-get($shadows, 2);
        border-bottom-color: transparent;
        background-color: rgba(gold, 0.5);
      }
      &.complete, &.background {
        &:hover {
        	background-color: rgba(gold, 0.1);
        }
      }
      &.background {
        &:hover {
        	box-shadow: map-get($shadows, 1);
        }
      }
    };
    padding-top: 0.1rem;
    &:not(:last-child) {border-bottom: 1px dashed $colour-emphasis};
    &:last-child {border-bottom: 1px solid transparent};
    .text-faded {opacity: 0.5;}
    .text-very-faded {opacity: 0.25;}
    a.text-very-faded:hover {opacity: 0.75;}
    .loader {margin: 0.1rem 0.2rem 0.2rem 0;}
    p {
      margin: 0.1rem 0 0.2rem 0;
      padding: 0;
    }
    .date, .date span {
      &:hover {
        color: $colour-general;
        background-color: $colour-background-menu;
      }
    }
    .badge {
      a[href]:hover {color: $colour-emphasis;}
      a[href].close:hover {color: $colour-background;}
      &.badge-rainbow {
        a[href]:hover {color: $colour-general-light !important;}
      }
      margin-top: 0.15rem;
    }
    .display.small > a {margin-top: -0.15em;}
    span > i, a > i {margin-top: 0.25rem !important;}
    svg {
      height: 1.4em;
    	width: 1.4em;
      .e, .g {
        stroke-linecap: round;
        stroke: $colour-general;
      }
      .g {
        fill: $colour-background;
      	stroke-width: 1em;
      }
      .e {
        fill: $colour-general;
        stroke-width: 0.1em;
      }
    }
    a.hover-dark:hover {color: $colour-general;}
  }
}

#diary_add, diary_edit {
  bottom: 0;
  right: 0;
}
// -- Diary -- //