// -- General -- //
a[role='button'] > i, a[role='button'] > span {padding-top: 0.15rem !important;}
// -- General -- //

// -- Folder Cells -- //
td.folder {background-color: beige;}
tr.bg-active, tr.bg-active td {background-color: $colour-active !important;}
td > a.close {padding-top: 0.1em;}
td a.action {
	&.action-on {
		color: lighten($colour-general, 30%) !important;
		i {color: lighten($colour-general, 30%) !important;}
		&:hover {
			color: $colour-general !important;
			i {color: $colour-general !important;}
		}
	}
	&.action-off {
		color: $colour-emphasis !important;
		i {color: $colour-emphasis !important;}
		&:hover {
			color: darken($colour-emphasis, 20%) !important;
			i {color: darken($colour-emphasis, 20%) !important;}
		}
	}
	&:hover {
		text-decoration: none;
		i {text-decoration: none;}
	}
}
// -- Folder Cells -- //

// -- Folder Links -- //
a.link[data-type='out'] {
	&:after {
		content: "\21D7";
		padding-left: 5px;
	}
}

a.nav-link[data-type='folder'] {
	&:after {
		content: "\2691";
		padding-left: 5px;
	}
}

a.nav-link[data-type='search'] {
	&:after {
		content: "\2690";
		padding-left: 5px;
	}
}
// -- Folder Links -- //