h1, h2, h3:not(.popover-header), h4.dropdown-heading, h5.dropdown-heading, h6.dropdown-heading, .navbar-brand, a.navbar-brand, .brand  {
	letter-spacing: $font-spacing-heading;
	font-family: $font-heading, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: $font-weight-heading;
  &.popover-header {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  }
	em {
		color: lighten($colour-highlight, 5%) !important;
		font-style: normal;
		font-weight: $font-weight;
	}
	strong {
		color: darken($colour-highlight, 20%) !important;
		font-style: normal;
	}
}

h1, h2, h3:not(.popover-header), .navbar-brand, a.navbar-brand  {
	color: $colour-highlight !important;
  &.popover-header {
    color: $colour-general-verylight !important;
  }
}

h4.dropdown-heading, h5.dropdown-heading, h6.dropdown-heading {
	color: darken($colour-highlight, 15%) !important;
}

btn.identity, a.identity, .btn.identity {
  letter-spacing: $font-spacing-identity;
  word-spacing: $word-spacing-identity;
  font-family: $font-identity, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  &.btn-lg {
    font-size: larger !important;
  }
}

.navbar-brand, .brand {
  text-transform: uppercase;
}

a.navbar-brand  {
	font-size: 1.5rem;
	&:hover {color: darken($colour-highlight, 20%) !important;}
}

em.kb-shortcut {
	white-space: nowrap !important;
	font-size: 90%;
  &.small {font-size: 80% !important;}
	font-style: normal;
	text-transform: uppercase;
	border-radius: 0.2rem;
	padding: 0.1rem 0.2rem 0.05rem 0.3rem;
	margin: 0 0.1rem;
	background-color: $colour-general;
	color: $colour-background;
	font-weight: $font-weight-heading;
	letter-spacing: 1px;
}

.form-control.small {font-size: 90% !important;}

$larger-sizes: ("300": 300%, "200": 200%, "150": 150%, "125": 125%, "110": 110%, "105": 105%);

$smaller-sizes: ("90": 90%, "80": 80%, "70": 70%, "60": 60%, "50": 50%, "40": 40%, "30": 30%, "20": 20%, "10": 10%);

@each $name, $size in $smaller-sizes {
  .font-smaller-#{$name} {
    font-size: $size !important;
  }
  .line-height-smaller-#{$name} {
    line-height: $size !important;
  }
}

@each $name, $size in $larger-sizes {
  .font-larger-#{$name} {
    font-size: $size !important;
  }
  .line-height-larger-#{$name} {
    line-height: $size !important;
  }
}