.form-tabbed {
  border-left: 1px solid #eceeef;
}

form {
  .dim {
    opacity: 0.25;
  }
  .optional {
    background-color: $colour-optional !important;
  }
  .invalid {
    background-color: $colour-invalid !important;
  }
  textarea, .resizable {
    width: 100%;
    max-width: 100%;
    resize: vertical;
  }
  .marker-label {
    display: inline;
  }
  
  /* -- Material Switch -- */
  .material-switch-label {
    display: inline-block;
    max-width: 80%;
  }

  .material-switch {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 16px;
    border-radius: 8px;
    background: rgba(0,0,0,0.26);
    -webkit-transition: background 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    transition: background 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    vertical-align: middle;
    cursor: pointer;
  }

  .material-switch::before {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    width: 24px;
    height: 24px;
    background: #fafafa;
    box-shadow: 0 4px 8px rgba(0,0,0,0.28);
    border-radius: 50%;
    -webkit-transition: left 0.28s cubic-bezier(0.4, 0, 0.2, 1), background 0.28s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    transition: left 0.28s cubic-bezier(0.4, 0, 0.2, 1), background 0.28s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .material-switch:active::before {
    box-shadow: 0 4px 8px rgba(0,0,0,0.28), 0 0 0 20px rgba(128,128,128,0.1);
  }

  input:checked + .material-switch {
    background: rgba(0,150,136,0.5);
  }

  input:checked + .material-switch::before {
    left: 20px;
    background: #009688;
  }

  input:checked + .material-switch:active::before {
    box-shadow: 0 4px 8px rgba(0,0,0,0.28), 0 0 0 20px rgba(0,150,136,0.2);
  }
  
  .input-group {
    .mw-20 {max-width: 20pc !important;}
    .mw-25 {max-width: 25pc !important;}
    .mw-30 {max-width: 30pc !important;}
    .mw-40 {max-width: 40pc !important;}
    .mw-50 {max-width: 50pc !important;}
    .mw-60 {max-width: 60pc !important;}
    .mw-75 {max-width: 75pc !important;}
    .mw-80 {max-width: 80pc !important;}
    .mw-90 {max-width: 90pc !important;}
    .mw-100p {max-width: 100px !important;}
    .mw-150p {max-width: 150px !important;}
    .mw-200p {max-width: 200px !important;}
    .mw-250p {max-width: 250px !important;}
    .mw-400p {max-width: 400px !important;}
    .mw-600p {max-width: 600px !important;}
    .mw-800p {max-width: 800px !important;}
    .mw-1000p {max-width: 1000px !important;}
  }
}