@mixin transition($details) {
  -webkit-transition: $details;
     -moz-transition: $details;
			-ms-transition: $details;
			 -o-transition: $details;
					transition: $details;
}

@mixin animation($details) {
  -webkit-animation: $details;
     -moz-animation: $details;
					animation: $details;
}

@function ratio($width, $height) {
  @return percentage( $height / $width);
}