// -- Loading Container -- //
$spinner-size-large: 100px;
$spinner-size-medium: 60px;
$spinner-size-button: 1.5em;
$spinner-size-small: 22px;
$spinner-size-tiny: 12px;
$spinner-duration: 0.8s;

// -- Loading Container -- //
div.loader {
  z-index: 5; // -- Above Content, but below navigation -- //
  .loading {
    z-index: 101;
  }
}
.loader {
  .loading {
    will-change: transform;
    // -- Actual Spinner -- //
    .spinner {
      width: 100%;
      height: 100%;
      border-top-color: $colour-highlight !important;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      -webkit-animation: spin $spinner-duration infinite cubic-bezier(0.5, 0.65, 0.6, 0.5), opacity ($spinner-duration*3) ease-in-out infinite;
      -moz-animation: spin $spinner-duration infinite cubic-bezier(0.5, 0.65, 0.6, 0.5), opacity ($spinner-duration*3) ease-in-out infinite;
      -o-animation: spin $spinner-duration infinite cubic-bezier(0.5, 0.65, 0.6, 0.5), opacity ($spinner-duration*3) ease-in-out infinite;
      animation: spin $spinner-duration infinite cubic-bezier(0.5, 0.65, 0.6, 0.5), opacity ($spinner-duration*3) ease-in-out infinite;
    }
  }
}

// -- Loading Background Div -- //
div.loader {
  .loading {
    top: 50%;
    left: 50%;
    transform-origin: 50%;
  	.spinner {
      border-top-color: $colour-highlight !important;
    }
  }
  &.loader-light {
    .loading .spinner {
      border-top-color: $colour-background !important;
    }
  }
  &.loader-dark {
    .loading .spinner {
      border-top-color: $colour-foreground !important;
    }
  }
	// -- Size Options -- //
	&.loader-large, &.loader-medium {
		background-color: rgba($colour-background, 0.9);
		position: fixed;
    top: 0;
		.loading {
			position: fixed;
			transform: translate(-50%, -50%);
		}
	}
	&.loader-large {
		.loading {
			width: $spinner-size-large;
			height: $spinner-size-large;
			.spinner {
				border: solid $spinner-size-large/10 rgba(0,0,0,0);
			}
		}
	}
	&.loader-medium {
		.loading {
			width: $spinner-size-medium;
			height: $spinner-size-medium;
			.spinner {
				border: solid $spinner-size-medium/10 rgba(0,0,0,0);
			}
		}
	}
  &.loader-small, &.loader-tiny {
    .loading {
      position: relative;
      transform: translate(-50%, 0%);
    }
  }
	&.loader-small {
    &.h-0 {height: 0;}
		.loading {
			width: $spinner-size-small;
			height: $spinner-size-small;
			.spinner {
				border: solid $spinner-size-small/10 rgba(0,0,0,0);
			}
		}
	}
  &.loader-tiny {
		.loading {
			width: $spinner-size-tiny;
			height: $spinner-size-tiny;
			.spinner {
				border: solid $spinner-size-tiny/6 rgba(0,0,0,0);
			}
		}
	}
}

// -- Loading Button -- //
.btn.loader {
	&.loader {
    .loading {
      margin-left: 0.5rem;
      margin-right: -0.5rem;
			position: relative;
			width: $spinner-size-button;
			height: $spinner-size-button;
			transform: translate(-50%, 0%);
			.spinner {border: solid $spinner-size-button/8 rgba(0,0,0,0);}
    }
  }
  &:hover {
    .spinner {border-top-color: $colour-background !important;}
  }
}
.btn {
  i.material-icons.result {
    &.md-1 {padding-top: 0.26rem !important;}
    &.md-18 {padding-top: 0.3rem !important;}
    &.md-24 {padding-top: 0.19rem !important;}
    @include animation(fadeInGracefully 0.6s ease-in-out);
  }
  &.btn-lg {
    i.material-icons.result {
      &.md-1 {padding-top: 0.45rem !important;}
      &.md-18 {padding-top: 0.4rem !important;}
      &.md-24 {padding-top: 0.29rem !important;}
    }
  }
}

.btn:not([class^="btn-outline-"]):not([class*=" btn-outline-"]):not([class^="btn-light"]):not([class*=" btn-light"]):not([class^="btn-link"]):not([class*=" btn-link"]) {
  i.material-icons {color: $colour-background-menu !important;}
  &.loader {
    .spinner {border-top-color: $colour-background-menu !important;}
    &:hover {
      .spinner {border-top-color: $colour-background !important;}
    }
  }
}
.btn .text {transition: all 300ms ease;}

@include animation-keyframes(fadeInGracefully) {
  0% {display: none; opacity: 0;}
	0.001% {display: block; opacity: 0;}
  100% {display: block; opacity: 1;}
}

.pause-animation {
  @include animation-state(paused !important);
}

// == Loading Animation == //
@include animation-keyframes(spin) {
  from {-webkit-transform: rotate(0deg);}
  to   {-webkit-transform: rotate(359deg);}
}

@include animation-keyframes(opacity) {
	0% { opacity: 0.05; }
	10% { opacity: 0.2 }
	20% { opacity: 0.4 }
	30% { opacity: 0.6; }
  40% { opacity: 0.8; }
	50% { opacity: 1; }
	60% { opacity: 0.8; }
	70% { opacity: 0.6; }
	80% { opacity: 0.4 }
	90% { opacity: 0.2 }
	100% { opacity: 0.05}
}