#logo {
  path {
    &.w, &.x, &.y {fill: #fff;}
    &.u {fill: #444;}
    &.t {fill: #000;}
    &.s {fill: #f1c232;}
    &.r {fill: #d1a82b;}
    &.q {fill: #93c47d;}
    &.p {fill: #7faa6c;}
    &.o {fill: #e06666;}
    &.n {fill: #b95454;} 
    &.m {fill: #6d9eeb;}
    &.l {fill: #5e88cd;}
    &.v {stroke: #fff;}
    &.y {stroke: #000;}
    &.u, &.t {fill-opacity: .642;}
    &.w {fill-opacity: .735;} 
    &.x {fill-opacity: .589;}
    &.y, &.v {stroke-linejoin: "round"; stroke-linecap: "butt";}
    &.z, &.s, &.r, &.q, &.p, &.o, &.n, &.m, &.l {fill-opacity: .808;}
  }
}