// -- Notifications Holder -- //
.notifications {
  position: fixed;
 	position: sticky;
  top: 0;
  right: 0;
  z-index: 999;
  .holder {
    position: absolute;
    top: 1.5em;
    right: 1.5em;
    .toast {
      min-width: 200px;
  		max-width: 500px;
  		min-height: 100px;
    }
  }
}
// -- Notifications Holder -- //