/* == Fonts == */
$font-heading:								"Cabin Sketch";
$font-weight-heading:					700;
$font-weight:									400;
$font-spacing-heading:				0.1rem;

/* == Colours == */
$colour-background: 					#ffffff;
$colour-general:              #000000;
$colour-emphasis: 						#cccccc;
$colour-foreground: 					darken($colour-emphasis, 10%);
$colour-debug: 								#888888;
$colour-deemphasise:          #f3f3f3;
$colour-section:              #fafafa;
$colour-support:              #28a745;
$colour-optional:             #f8fec7;
$colour-invalid:              #ffcccc;
$colour-success:              #28a745;
$colour-warning:              #ffc107;
$colour-error:                #dc3545;
$colour-contrasting-link:     #006FF5;
$colour-contrasting-primary:  #006BEB;
$colour-contrasting-success:  #1F8434;
$colour-contrasting-secondary:#6D747E;

/* == Breakpoints == */
$small:									      "max-width: 32.5em";