{% comment %}<!-- Standard (Fav)Icon -->{% endcomment %}
<link href="{{ site.icon }}" rel="shortcut icon" type="image/x-icon">

{% comment %}<!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->{% endcomment %}
<link rel="apple-touch-icon-precomposed" href="{{ site.baseurl }}ico/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="57x57" href="{{ site.baseurl }}ico/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="{{ site.baseurl }}ico/apple-icon-60x60.png">

{% comment %}<!-- For first- and second-generation iPad -->{% endcomment %}
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.baseurl }}ico/apple-touch-icon-72x72-precomposed.png">
<link rel="apple-touch-icon" sizes="72x72" href="{{ site.baseurl }}ico/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="{{ site.baseurl }}ico/apple-icon-76x76.png">

{% comment %}<!-- For iPhone with high-resolution Retina display -->{% endcomment %}
<link rel="apple-touch-icon" sizes="114x114" href="{{ site.baseurl }}ico/apple-icon-114x114.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.baseurl }}ico/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="{{ site.baseurl }}ico/apple-icon-120x120.png">

{% comment %}<!-- For third-generation iPad with high-resolution Retina display -->{% endcomment %}
<link rel="apple-touch-icon" sizes="144x144" href="{{ site.baseurl }}ico/apple-icon-144x144.png">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}ico/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="{{ site.baseurl }}ico/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}ico/apple-icon-180x180.png">

{% comment %}<!-- Other Device Touch Icons -->{% endcomment %}
<link rel="icon" type="image/png" sizes="192x192" href="{{ site.baseurl }}ico/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}ico/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="{{ site.baseurl }}ico/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}ico/favicon-16x16.png">


{% comment %}<!-- iPhone Splash Screen -->{% endcomment %}
<link rel="apple-touch-startup-image" href="{{ site.baseurl }}ico/apple-startup-iphone.png" media="(device-width: 320px)">
{% comment %}<!-- iPhone (Retina) Splash Screen -->{% endcomment %}
<link rel="apple-touch-startup-image" href="{{ site.baseurl }}ico/apple-startup-iphone4.png" media="(device-width: 320px) and (device-height: 460px) and (-webkit-device-pixel-ratio: 2)">
{% comment %}<!-- iPhone 5 (Retina) Splash Screen-->{% endcomment %}
<link rel="apple-touch-startup-image" href="{{ site.baseurl }}ico/apple-startup-iphone5.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)">
{% comment %}<!-- iPad (non-Retina) (Portrait) Splash Screens -->{% endcomment %}
<link rel="apple-touch-startup-image" href="{{ site.baseurl }}ico/apple-startup-ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
{% comment %}<!-- iPad (non-Retina) (Landscape) Splash Screen -->{% endcomment %}
<link rel="apple-touch-startup-image" href="{{ site.baseurl }}ico/apple-startup-ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
{% comment %}<!-- iPad (Retina) (Portrait) Splash Screen -->{% endcomment %}
<link rel="apple-touch-startup-image" href="{{ site.baseurl }}ico/apple-startup-ipad3-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio: 2)">
{% comment %}<!-- iPad (Retina) (Landscape) Splash Screen -->{% endcomment %}
<link rel="apple-touch-startup-image" href="{{ site.baseurl }}ico/apple-startup-ipad3-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio: 2)">