{% raw %}
{{~#if name}}{{> name }}{{/if~}}
<div {{#if id}}id="{{id}}" {{/if}}class="items-holder border-exagerate container-fluid pt-lg-2 px-1 mvh-100">
  <div class="day m-0 pt-xl-2">
  	<div class="py-2 col-12 container-fluid d-flex flex-column flex-xl-row flex-xl-wrap align-items-center"
         data-display-classes="unbounded col-xl-6 align-self-stretch"{{#if date}} data-date="{{isoDate date true}}"{{/if}}{{#if wide}} data-display-wide="true"{{/if}}>
      <div class="row d-flex align-items-center col-12">
        <h4 class="display-4 col-12 col-lg-6 mb-lg-0">
          <span class="text-muted font-weight-bold">{{title}}</span><span class="ml-2">{{day}}</span>
        </h4>
        {{#if date}}<span class="font-weight-light col-12 col-lg-6 text-lg-right h5">{{localeDate date}}</span>{{/if}}
      </div>
      <hr class="mt-2 mt-xl-3 mb-1 divider" data-divider="true" />
      {{#if extras}}{{#each extras}}
      {{!-- Extras are overlays (e.g. calendars) --}}
      {{!-- Call Partial Template --}}
      {{> item editable=false wide=../wide class="unbounded col-xl-6 align-self-stretch" static=true}}
      {{/each}}{{/if}}
      {{#if events}}{{#each events}}
      {{!-- Call Partial Template --}}
      {{> item editable=true wide=../wide class="unbounded col-xl-6 align-self-stretch"}}
      {{/each}}{{/if}}
      {{#if tasks}}{{#each tasks}}
      {{!-- Call Partial Template --}}
      {{> item editable=true wide=../wide class="unbounded col-xl-6 align-self-stretch"}}
      {{/each}}{{/if}}
    </div>
  </div>
</div>
{{#if action}}{{> action id=id action=action}}{{/if}}
{% endraw %}