// -- Google Drive File Picker -- //
.picker.picker-dialog-bg {
  background-color: black;
}

.picker.picker-dialog {
	pointer-events: all !important;
	z-index: 1100 !important;
}

.picker.picker-dialog-content {
	max-width: 100% !important;
}

@media screen and (max-width: 991px) {
 .picker.picker-dialog {
	  height: 80% !important; 
    max-width: 86% !important;
 }
 .picker.picker-dialog-content {
   height: 100% !important; 
 }
}

@media screen and (min-width: 992px) {
 .picker.picker-dialog {
    max-width: 60% !important;
 }
}
// -- Google Drive File Picker -- //