{{#present events}}<div class="card-columns wide">{{#each events}}{{> event}}{{/each}}</div>{{else}}<h5 class="mt-3"><i class="material-icons md-24 mr-1 text-warning">highlight_off</i><span class="font-weight-light text-muted">No Bookings for this date!</span></h5>{{/present}}
