<!-- Application Page Docs -->
{% assign docs = false %}

{% if page.docs %}
  {% assign docs = page.docs %}
{% elsif page.app and page.app != "" and site.data.apps[page.app].docs %}
  {% assign docs = site.data.apps[page.app].docs %}
{% endif %}

{% if docs %}

  {% raw %}
  <script id="WRAPPER" type="text/template"  data-src="docs">
    <div class="container">
      <div class="row">
        <div class="col-12">{{content}}</div>
      </div>
    </div>
  </script>
  {% endraw %}

  {% for doc in docs %}

    {% capture markdown %}{% include_relative _docs/{{ doc }}.md %}{% endcapture %}

    <script id="{% if doc contains '/' %}{{ doc | split: '/' | last }}{% else %}{{ doc }}{% endif %}" type="text/template"  data-src="docs">
     {{ markdown | markdownify }}
    </script>

  {% endfor %}

{% endif %}