<!-- Application Page Docs -->
{% assign docs = false %}

{% if page.docs %}
  {% assign docs = page.docs %}
{% elsif layout.docs %}
  {% assign docs = layout.docs %}
{% elsif page.app and page.app != "" and site.data.apps[page.app].docs %}
  {% assign docs = site.data.apps[page.app].docs %}
{% endif %}

{% if docs %}

  {% raw %}
  <script id="__doc__MODAL" type="text/template"  data-src="docs" data-type="modal">
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="__doc_modal_title" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header bg-light">
            <h5 class="modal-title" id="__doc_modal_title">{{title}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            {{content}}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">{{close}}</button>
          </div>
        </div>
      </div>
    </div>
  </script>
  {% endraw %}

  {% for doc in docs %}

    {% capture markdown %}{% include_relative _docs/{{ doc }}.md %}{% endcapture %}

    <script id="__doc__{% if doc contains '/' %}{{ doc | split: '/' | last }}{% else %}{{ doc }}{% endif %}" type="text/template"  data-src="docs">{{ markdown | markdownify | strip }}</script>

  {% endfor %}

{% endif %}