<div class="container css--sensitive pt-1 pt-md-2 pt-lg-4 pt-xl-5">
	
	<div class="row align-items-center">
		<div class="d-inline align-items-start d-md-block flex-column col-12 mx-auto col-md-6 order-md-2 px-2 py-2">
			{% if include.logo %}<a class="img-fluid align-self-start mb-3 mb-md-0" alt="{{ site.title }}: {{ site.description }}" href="{% if include.url %}{{ include.url }}{% else %}{{ site.url }}{% endif %}">{% include {{ include.logo }} %}</a>{% endif %}
		</div>
		<div class="col-md-6 order-md-1 text-center text-md-left pr-md-5">
			<h1 class="display-4 mb-3 font-sensitive">{{ page.title | upcase }}</h1>
			{% if lead %}{{ lead | markdownify }}{% endif %}
			<div class="d-flex flex-column flex-md-row lead mb-3">
				{% if include.action and include.url %}<a href="{{ include.url }}" class="btn btn-lg btn-primary btn-raised mr-md-3 mt-2">{{ include.action }}</a>{% endif %}
				<a href="/support/" class="btn btn-lg btn-success btn-raised mr-md-3 mt-2">Support</a>
        <a href="/#apps" class="btn btn-lg btn-raised mt-2">Other Apps</a>
			</div>
		</div>
	</div>
	
	{% if text %}<div class="d-flex flex-column col-12 px-0">
		{{ text | markdownify }}
	</div>{% endif %}

  {% if include.support %}<h4 class="border border-left-0 border-right-0 border-top-0 mt-2 pb-1" id="need-help">Need Help?</h4>
  <p>
    If you are a <strong>subscriber</strong>, then please email us directly or use the <strong>Get Help</strong> command under the <strong>About</strong> menu in any of our web apps to get help with this extension. Otherwise, please feel free to raise an <a href="{{ include.support }}">issue</a> on the code repository for this tool (you will need to sign up for a <a href="https://github.com/join" target="_blank" rel="noopener">free Github account</a> if you don't already have one). Only <a href="/support">subscribers</a> have <strong>full access to technical support</strong>, but we'll do <strong>our best</strong> to answer every query if we are able.
  </p>{% endif %}
  
	<p class="text-muted mb-3">
		&copy; {% capture year %}{{ site.time | date: '%Y' }}{% endcapture %}{% if year != site.launched %}{{ site.launched }}-{% endif%}{{ year }} <a href="{{site.baseurl}}about/?highlight=transparency"><strong>{{site.author.name | downcase }}</strong></a>. Current site version is <a href="/changes?highlight=site">{{ site.data.versions["site"].first[0] }}</a>
	</p>

</div>