<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{% if page.lead %}{{ page.lead }}{% else %}{{ site.description }}{% endif %}">
{% if site.keywords %}<meta name="keywords" content="{{ site.keywords }}" />{% endif %}

<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{{ site.baseurl }}ico/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

{% comment %}<!-- Declare Associated Manifest File -->{% endcomment %}
<link rel="manifest" href="{{ site.baseurl }}manifest.json">

{% comment %}<!-- Allow Home-Pinned Site on Android -->{% endcomment %}
<meta name="mobile-web-app-capable" content="yes">