<div class="container">
	<div class="row align-items-center">
		<div class="d-none d-md-block col-12 mx-auto col-md-6 order-md-2 px-2 py-2">
			<a class="app-logo" href="#instructions">{% include {{ include.logo }} %}</a>
		</div>
		<div class="col-md-6 order-md-1 text-center text-md-left pr-md-5 mt-md-2 mt-xl-4">
			<p class="lead">
				{{ app.desc }}
			</p>
			{% raw %}{{content}}{% endraw %}
			<div class="d-flex flex-column flex-md-row lead mb-3 mt-4">
				<a href="{{ include.start }}" class="btn btn-lg btn-action mb-3 mb-md-0 mr-md-3">Get started</a>
				<a href="/support/" class="btn btn-lg btn-outline-success">Support</a>
			</div>
			<p class="text-muted mb-0">
				Current app version is <a href="/changes/?highlight={{ app.name | downcase }}">{% assign _app = app.name | downcase %}{{ site.data.versions[_app].first[0] }}</a>. To find out more about the <strong>permissions</strong> this app requires, and how they are used, have a look at its <a href="/scopes/?highlight={{ app.name | downcase }}">scopes</a>.
			</p>
		</div>
	</div>
</div>