<script type="text/javascript" charset="utf-8" data-type="script" data-src="sensitive">
	{% include scripts/sensitive.js %}
</script>
<style type="text/css">
  {% capture _scss_ %}
    @import "_functions";
		@import "_variables";
    {% if page.colour %}$colour-highlight: #{{ page.colour }};{% elsif layout.colour %}$colour-highlight: #{{ layout.colour }};{% elsif page.app and site.data.apps[page.app].colour %}$colour-highlight: #{{ site.data.apps[page.app].colour }};{% else %}$colour-highlight: {{ site.highlight }};{% endif %}
    @import "_common";
    @import "_fonts";
    {% if page.style %}@import "_{{ page.style }}";{% elsif layout.style %}@import "_{{ layout.style }}";{% endif %}	
    {% if page.layout == "app" %}
			{% if site.data.fonts["Material Icons"].for contains page.app %}@import "_icons";{% endif %}
      @import "_app";
      @import "_tables";
			@import "_forms";
      @import "_loader";
      {% include css.html %}
		{% else %}
			{% if site.data.fonts["Material Icons"].for contains page.name %}@import "_icons";{% endif %}
    {% endif %}
    {% if page.logo or layout.logo %}.logo {background-image: url('data:image/svg+xml;utf8,{% include images/logo.svg %}'), none;}{% endif %}
  {% endcapture %}
  {{ _scss_ | scssify }}
</style>