<div class="d-md-flex justify-content-end">
  <div class="mr-auto p-2">
     <p class="lead">Great tools take a <strong>lot</strong> of building.</p>
    <p class="text-secondary">Our tools are <strong class="text-success">free for everyone</strong>, but we want to <strong class="text-dark">make more</strong> and make these ones <strong class="text-dark">even better</strong>. If you want amazing technical support, feature requests and a say in what we build next, please consider <strong class="text-dark">supporting</strong> us.</p>
  </div>
  <div class="p-2 align-self-center">
    <a class="btn btn-success btn-raised btn-lg" href="/support/" role="button">Support</a>
  </div>
</div>