<div class="row">
  <div class="col">
    
    <h4>{{ include.test.title }}</h4>
    
    {% if include.test.content %}{{ include.test.content | markdownify }}{% endif %}

    {% if include.test.tests %}{% for test in include.test.tests %}
{% assign id = include.test.title | downcase | replace ' ','_' | append: forloop.index %}{% assign hash = include.test.title | append: '.' | append: test.function | append: '.' | append: id %}
{% include command.html quiet="true" class="btn btn-lg btn-action mr-sm-1 mr-md-2 mr-lg-3 mt-2" command=test spinner=true id=id hash=hash %}
    {% endfor %}{% endif %}
    
  </div>
</div>