<div {{#if id}}id="{{id}}" {{/if}}class="container-fluid pt-lg-1 mvh-100">
  
  {{> date}}
  
  <div class="row m-0 pt-2 d-flex flex-column-reverse flex-lg-row">
    
    <div class="col-12 col-lg-5 col-xl-4 px-0 px-md-3">
      
      {{~#if resource}}{{> search placeholder="Search Resources"}}
      
      <div id="resources">{{#if data}}{{> resources resources=data opaque=false selectable=selectable simple=simple}}{{/if}}</div>{{/if~}}
      
      {{~#if bundle}}{{> search placeholder="Search Bundles"}}
  
      <div id="bundles">{{#if data}}{{> bundles bundles=data opaque=false selectable=selectable simple=simple}}{{/if}}</div>{{/if~}}

    </div>
    
    <div id="details" class="col-12 col-lg-7 col-xl-8 px-0 px-md-3"></div>
    
  </div>
</div>
