<div {{#if id}}id="{{id}}" {{/if}}class="container-fluid pt-lg-1 mvh-100">

  {{> date dateless=true add="Add new Bundle" add_command="add.bundle"}}
  
  <div class="row m-0 pt-2 d-flex flex-column-reverse flex-lg-row">
    
    <div class="col-12 col-lg-4 col-xl-3 px-0 px-md-3">
      
      {{> search placeholder="Search Bundles"}}
  
      <div id="bundles">{{#if data}}{{> bundles bundles=data opaque=false actionable=true}}{{/if}}</div>

    </div>
    
    <div class="col-12 col-lg-8 col-xl-9 px-0 px-md-3 pb-2">
      
      <div id="details" class="d-none col-12 pt-lg-1 bg-light border border-light-emphasis rounded">
        
        <div class="d-flex align-items-center py-2 {{#if instructions}}justify-content-between{{else}}justify-content-end{{/if}}">
          {{#if instructions}}<div id="instructions"></div>{{/if}}
          {{#if instructions}}<div class="d-flex flex-column ml-2">{{/if}}
            {{> control_button b_large="true" b_command="manage.delete"
      	      b_class=(which instructions "btn-danger btn-lg mb-1 mb-lg-2" "btn-danger btn-lg") b_text="Delete"}}
            {{> control_button b_large="true" b_command="manage.save"
      	      b_class="btn-primary btn-lg" b_tooltip="Save Changes" b_text="Save"}}
          {{#if instructions}}</div>{{/if}}
        </div>
        
        <form id="resources" class="d-none" role="form"></form>
        <form id="bundle" class="d-none" class="needs-validation" role="form"></form>
        
      </div>
      
    </div>
    
  </div>
  
</div>
