// -- Outline App Logo -- //
html, body {
	width: 100vw;
  height: 100vh;
}

// -- Outline App Logo -- //
.app-logo {
	svg {
		max-width: 100%;
		height: auto;
		pointer-events: visible;
		path {
			&.o {
				stroke-width: 2;
			}
			&.p {
				stroke-width: 3;
			}
			&.o, &.p {
				stroke: darken($colour-highlight, 10%);
				stroke-linejoin: round;
				stroke-linecap: round;
			}
		}
		&:hover {
			path {
				&.o, &.p {stroke: darken($colour-highlight, 20%);}
			}
		}
	}
}
// -- Outline Letter Logo -- //

// -- Action Button -- //
.btn-outline-action {
  color: $colour-highlight;
  border-color: $colour-highlight;
	&:hover {
		border-color: $colour-highlight;
		background-color: $colour-highlight;
	}
	&:focus {
		-webkit-box-shadow: 0 0 0 2px rgba(darken($colour-emphasis, 20%), 0.5);
    box-shadow: 0 0 0 2px rgba(darken($colour-emphasis, 20%), 0.5);
	}
}

.btn-action {
  color: $colour-background !important;
  border-color: $colour-highlight;
	background-color: $colour-highlight;
	&:hover {
		border-color: darken($colour-highlight, 10%);
		background-color: darken($colour-highlight, 10%);
	}
	&:focus {
		-webkit-box-shadow: 0 0 0 2px rgba(darken($colour-emphasis, 20%), 0.5);
    box-shadow: 0 0 0 2px rgba(darken($colour-emphasis, 20%), 0.5);
	}
}
// -- Action Button -- //

// -- Keyboard Shortcuts -- //
em.kb-shortcut {
	white-space: nowrap !important;
	font-size: 90%;
	font-style: normal;
	text-transform: uppercase;
	border-radius: 0.2rem;
	padding: 0 0.2rem;
	margin: 0 0.1rem;
	background-color: $colour-general;
	color: $colour-background;
}
// -- Keyboard Shortcuts -- //

// -- Border the bottom of the Navbar -- //
nav.navbar.bg-faded {
	background-color: $colour-section;
	border-bottom: 1px solid $colour-emphasis;
}
// -- Border the bottom of the Navbar -- //

// -- Dock Alerts to the Top -- //
div.alert:first-child { 
	margin-bottom: 0;
	button.float-right.close {
		padding: 0;
		top: 0;
	}
}
// -- Dock Alerts to the Top -- //

// -- Content Spacer -- //
.content {
	margin-bottom: 0.5rem;
	> .container {
		margin-top: 0.5rem;
	}
}


#site_nav {
	z-index: 10;
}

#sheet_tabs {
	padding-top: 0.5rem;
}

#paths, #sheet_tabs, #folder_tabs {
	z-index: 1;
	position: relative;
	background-color: $colour-background;
}

div.tab-pane {
	overflow-x: auto;
	overflow-y: auto;
	width: 100%;
	height: 100%;
	-webkit-overflow-scrolling: touch; // Smooth Scrolling on Mobile / IOS
	scroll-behavior: smooth;
	
	// -- Scroll Bar -- //
	&::-webkit-scrollbar {
		-webkit-appearance: none;
	}

	&::-webkit-scrollbar-thumb {
		background-color: rgba($colour-highlight, 0.4);
		border: 3px solid transparent;
		border-radius: 9px;
		background-clip: content-box;
	}

	&::-webkit-scrollbar-track {
		background-color: rgba($colour-foreground, 0.4);
		width: 15px;
	}
	
	&::-webkit-scrollbar-corner {
		background-color: rgba($colour-foreground, 0.4);	
	}
	// -- Scroll Bar -- //
	
}

a.nav-link[data-type='folder'] {
	&:after {
		content: "\2691";
		padding-left: 5px;
	}
}

a.nav-link[data-type='search'] {
	&:after {
		content: "\2690";
		padding-left: 5px;
	}
}

div.modal {
	-webkit-overflow-scrolling: touch; // Smooth Scrolling on Mobile / IOS
	scroll-behavior: smooth;
}

a.disabled, input.disabled {
   pointer-events: none;  // Allows for touch scrolling on disabled elements
}

.action-succeeded {
	&:after {
		content: "\2714";
		padding-left: 5px;
	}
}

.action-failed {
	&:after {
		content: " \274c";
	}
}

a.download {
	&:hover {text-decoration: none; font-weight: bold;}
}