// -- Action Button -- //
.btn-outline-action {
  color: $colour-highlight;
  border-color: $colour-highlight;
	&:hover {
		border-color: $colour-highlight;
		background-color: $colour-highlight;
	}
	&:focus {
		-webkit-box-shadow: 0 0 0 2px rgba(darken($colour-emphasis, 20%), 0.5);
    box-shadow: 0 0 0 2px rgba(darken($colour-emphasis, 20%), 0.5);
	}
}

.btn-action {
  color: $colour-background !important;
  border-color: $colour-highlight;
	background-color: $colour-highlight;
	&:hover {
		border-color: darken($colour-highlight, 10%);
		background-color: darken($colour-highlight, 10%);
	}
	&:focus {
		-webkit-box-shadow: 0 0 0 2px rgba(darken($colour-emphasis, 20%), 0.5);
    box-shadow: 0 0 0 2px rgba(darken($colour-emphasis, 20%), 0.5);
	}
}
// -- Action Button -- //

// -- Keyboard Shortcuts -- //
em.kb-shortcut {
	white-space: nowrap !important;
	font-size: 90%;
	font-style: normal;
	text-transform: uppercase;
	border-radius: 0.2rem;
	padding: 0 0.2rem;
	margin: 0 0.1rem;
	background-color: $colour-general;
	color: $colour-background;
}
// -- Keyboard Shortcuts -- //

// -- Border the bottom of the Navbar -- //
nav.navbar.bg-faded {
	background-color: $colour-section;
	border-bottom: 1px solid $colour-emphasis;
}
// -- Border the bottom of the Navbar -- //

// -- Dock Alerts to the Top -- //
div.alert:first-child { 
	margin-bottom: 0;
	button.float-right.close {
		padding: 0;
		top: 0;
	}
}
// -- Dock Alerts to the Top -- //

// -- Content Spacer -- //
.content {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.tab-pane {
	overflow-x: auto;
	overflow-y: scroll;
	width: 100%;	
}