// -- Outline Letter Logo -- //
a.navbar-brand.logo, .navbar-brand a.logo {
	max-height: 48px;
	svg {
		height: 40px;	
		pointer-events: visible;
		path {
			&.o {
				stroke: $colour-highlight;
				stroke-width: 2;
				stroke-linejoin: round;
				stroke-linecap: butt;
			}
			&.f {
				fill: lighten($colour-highlight, 50%); // #ffedfa
				fill-opacity: .89;
				fill-rule: evenodd;
			}
		}
		&:hover {
			path {
				&.o {stroke: darken($colour-highlight, 30%);}
				&.f {fill: lighten($colour-highlight, 45%);}
			}
		}
	}
}
// -- Outline Letter Logo -- //

// -- Menu Branding -- //
.dropdown-heading {
	padding: 4px 1rem;
	font-weight: 400;
	line-height: 1;
	margin-bottom: 2px;
	text-wrap: nowrap;
	font-size: 100%;
	border-bottom: 1px dashed $colour-emphasis;
}
// -- Menu Branding -- //