/* == Breakpoints == */
$one-column:									"max-width: 32.5em";

/* == Colours == */
$colour-highlight: 						#af0ad9;

.container-fluid, .landing {
  height: 100%;
}

.landing {
    display: flex;
    justify-content: center;
    align-items: center;
}



.full-icon {
  background-size: 30em auto;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url("/img/educ_logo.svg"), none;
}

.title {
    position: fixed;
    top: 1em;
		text-align: center;
		font-size: 200%;
		padding-top: 1rem;
	}

// == One Column Small Layout == //
@media all and (unquote($one-column)) {
	
	.full-icon {
    height: 100%;
    background-size: 20em auto;
  }
  .title {
    font-size: 150%;
    padding-top: 0;
  }
	
}
// == One Column Small Layout == //