h1, h2, h3, h4, h5, h6, .navbar-brand, a.navbar-brand  {
	letter-spacing: $font-spacing-heading;
		font-family: $font-heading;
		font-weight: $font-weight-heading;
		color: $colour-highlight !important;
}

a.navbar-brand  {
	text-transform: uppercase;
	font-size: 1.5rem;
	&:hover {color: darken($colour-highlight, 20%) !important;}
}