h1, h2, h3, h4, h5, h6, .navbar-brand, a.navbar-brand  {
	letter-spacing: $font-spacing-heading;
	font-family: $font-heading, apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	font-weight: $font-weight-heading;
	color: $colour-highlight !important;
	em {
		color: lighten($colour-highlight, 5%) !important;
		font-style: normal;
		font-weight: $font-weight;
	}
	strong {
		color: darken($colour-highlight, 20%) !important;
		font-style: normal;
	}
}

a.navbar-brand  {
	text-transform: uppercase;
	font-size: 1.5rem;
	&:hover {color: darken($colour-highlight, 20%) !important;}
}