// == Default One Column Padded Layout == //
body {
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: $max-width;
	position: relative;
}

h1, h2, h3, h4, h5, h6 {padding-top: 5rem;}

.full-icon {background-size: 30em auto;}
// == Default One Column Padded Layout == //

// == One Column Small Layout == //
@media all and (unquote($one-column)) {
	
	body > * {margin: 0.5rem 1rem;}
	
	h1 {font-size: 200%};
	
	h1, h2, h3, h4, h5, h6 {padding-top: 3rem;}
	
	.full-icon {background-size: 20em auto;}
	
}
// == One Column Small Layout == //