// -- Loading Container -- //
$spinner-size-large: 100px;
$spinner-size-small: 22px;
$spinner-duration: 0.8s;

// -- Loading Background -- //
.loader {
	
	width: 100%;
  z-index: 5; // -- Above Content, but below navigation -- //
	// -- Loading Container -- //
	.loading {
		will-change: transform;
		top: 50%;
		left: 50%;
		transform-origin: 50%;
		z-index: 101;
		// -- Actual Spinner -- //
		.spinner {
			width: 100%;
			height: 100%;
			border-top-color: $colour-highlight !important;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			border-radius: 50%;
			-webkit-animation: spin $spinner-duration infinite cubic-bezier(0.5, 0.65, 0.6, 0.5), opacity ($spinner-duration*3) ease-in-out infinite;
			-moz-animation: spin $spinner-duration infinite cubic-bezier(0.5, 0.65, 0.6, 0.5), opacity ($spinner-duration*3) ease-in-out infinite;
			-o-animation: spin $spinner-duration infinite cubic-bezier(0.5, 0.65, 0.6, 0.5), opacity ($spinner-duration*3) ease-in-out infinite;
			animation: spin $spinner-duration infinite cubic-bezier(0.5, 0.65, 0.6, 0.5), opacity ($spinner-duration*3) ease-in-out infinite;
		}
	}	
	// -- Size Options -- //
	&.loader-large {
		height: 100%;
		background-color: rgba($colour-background, 0.9);
		position: fixed;
		.loading {
			position: fixed;
			width: $spinner-size-large;
			height: $spinner-size-large;
			transform: translate(-50%, -50%);
			.spinner {
				border: solid $spinner-size-large/10 rgba(0,0,0,0);
			}
		}
	}
	&.loader-small {
		height: 0;
		.loading {
			position: relative;
			width: $spinner-size-small;
			height: $spinner-size-small;
			transform: translate(-50%, 0%);
			.spinner {
				border: solid $spinner-size-small/10 rgba(0,0,0,0);
			}
		}
	}
}

.pause-animation {
	-webkit-animation-play-state: paused !important; 
	-moz-animation-play-state: paused !important; 
	-o-animation-play-state: paused !important;
	animation-play-state: paused !important;
}

// == Loading Animation == //#
@-webkit-keyframes spin {
  from {-webkit-transform: rotate(0deg);}
  to   {-webkit-transform: rotate(359deg);}
}
 
@-moz-keyframes spin {
  from {-moz-transform: rotate(0deg);}
  to   {-moz-transform: rotate(359deg);}
}
 
@-o-keyframes spin {
  from {-o-transform: rotate(0deg);}
  to   {-o-transform: rotate(359deg);}
}
 
@keyframes spin{
  from {transform: rotate(0deg);}
  to   {transform: rotate(359deg);}
}

@keyframes opacity {
	0% { opacity: 0.05; }
	10% { opacity: 0.2 }
	20% { opacity: 0.4 }
	30% { opacity: 0.6; }
  40% { opacity: 0.8; }
	50% { opacity: 1; }
	60% { opacity: 0.8; }
	70% { opacity: 0.6; }
	80% { opacity: 0.4 }
	90% { opacity: 0.2 }
	100% { opacity: 0.05}
}