// -- Loading Container -- //
$spinner-width: 100px;

// -- Loading Background
.loader {
	position: absolute;
	display: flex;
	background-color: rgba($colour-background, 0.9);
	height: 100%;
	width: 100%;
  z-index: 100;
}

// -- Loading Spinner -- //
.loading {
  position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transform-origin: 50%;
	width: $spinner-width;
	height: $spinner-width;
	.spining-circle {
 		animation: rotate 2s linear infinite;
 		position: relative;
		height: 100%;
 		width: 100%;
		.path {
			fill: none;
			stroke-width: 4;
			stroke-miterlimit: 10;
			stroke-linecap: square;
  		stroke-dasharray: 1,200;
  		stroke-dashoffset: 0;
  		animation:
   			dash 1.5s ease-in-out infinite,
   			color 6s ease-in-out infinite
  		;
		}
	}
}

// == Loading Animation == //
@keyframes rotate {
 100%{
  transform: rotate(360deg);
 }
}

@keyframes dash {
 0%{
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
 }
 50%{
  stroke-dasharray: 89,200;
  stroke-dashoffset: -35;
 }
 100%{
  stroke-dasharray: 89,200;
  stroke-dashoffset: -124;
 }
}

@keyframes color {
  100%, 0%{
    stroke: rgba(darken($colour-highlight, 20%), 0.2);
  }
  40%{
    stroke: rgba(darken($colour-highlight, 20%), 0.4);
  }
  66%{
    stroke: rgba(darken($colour-highlight, 20%), 0.6);
  }
  80%, 90%{
    stroke: rgba(darken($colour-highlight, 20%), 0.8);
  }
}