// -- De-Background the Navbar -- //
nav.navbar.bg-faded {
	background-color: $colour-background;
}
// -- Border the bottom of the Navbar -- //

// -- Tweak Jumbotron -- //
.jumbotron {
	background-color: $colour-section;
}

.highlight_all {
	border-bottom: thin solid $colour-emphasis;
}

.highlight_none {
	opacity: 0.4;
}
// -- Tweak Jumbotron -- //