/* -- General Table Styling -- */
table {
	tbody {
		outline: 0;
	}
}

.table-fixed-width {
	table-layout: fixed;
}

.table-filtered {
	td.filtered, th.filtered {
		background-color: lighten($colour-highlight, 50%);
	}
	td.to-hide, th.to-hide {
		a {
			color: $colour-emphasis !important;
		}
		background-color: lighten($colour-deemphasise, 10%);
	}
}