/* -- General Table Styling -- */
/* div.table-wrapper {
	overflow-x: scroll;
	overflow-y: scroll;
} */

table {
	thead {
		z-index: 2;
		> th {
			display: none;
		}
		tr {
			background-color: $colour-background;
			th {
				position: relative;
				
			}
		}
		.sort {
			&:after {
				display: inline-block;
				width: 0;
				height: 0;
				margin-left: 0.3em;
				vertical-align: middle;
				content: "";
				border-right: 0.3em solid transparent;
				border-left: 0.3em solid transparent;
			}
			&.asc {
				&:after {
					border-top: 0.3em solid;
				}
			}
			&.desc {
				&:after {
					border-bottom: .3em solid;
				}
			}
		}
	}
	tbody {
		outline: 0;
		.extra-row {
			margin-top: 0 !important;
			margin-bottom: 0 !important;
			&.keep-parity {
				display: none;
			}
		}
	}
}

.table-fixed-width, .table-frozen {
	table-layout: fixed;
}

.table-filtered {
	tr {
		th, td {
			&.to-hide {
				background-color: rgba($colour-deemphasise, 0.3);
				color: darken($colour-deemphasise, 25%);
				a {
					color: $colour-emphasis !important;
				}
			}
			a {
				color: $colour-highlight;
				text-align: center;
			}
		}
	}
	thead tr {
		th:not(.to-hide):not(.d-none) + .to-hide, th.to-hide + :not(.to-hide), th.to-hide-prefix {
			&:before {
				cursor: pointer;
    		pointer-events: all;
				position: absolute;
				bottom: -0.1em;
				color: darken($colour-deemphasise, 10%);
				content: "+/-";
			}
		}
		th:not(.to-hide):not(.d-none) + .to-hide, th.to-hide + :not(.to-hide) {
			&:after {
				position: absolute;
				bottom: .4em;
				left: 0;
				content: "";
				border-left: .4em solid darken($colour-deemphasise, 10%);
				height: 20%;
			}
		}
		th:not(.to-hide):not(.d-none) + .to-hide {
			&:before {
				left: -1.6em;
			}
		}
		th.to-hide + :not(.to-hide) {
			&:before {
				left: 0.6em;
			}
		}
		th.to-hide-prefix {
			&:before {
				right: 1.6em;
			}
			&:after {
				position: absolute;
				bottom: .4em;
				right: 0;
				content: "";
				border-right: .4em solid darken($colour-deemphasise, 10%);
				height: 20%;
			}
		}
	}
	
	th {
		text-align: center;
		pointer-events: none;
		&.filtered {
			background-color: lighten($colour-highlight, 52%);
			&.inverse {
				background-color: darken($colour-highlight, 10%);
				a {
					color: $colour-background;	
				}
			}
		}
		&.to-hide {
			&:after, + th:after {
				position: absolute;
				bottom: .4em;
				left: 0;
				content: "";
			}
			&:after {
				width: 100%;
				border-bottom: .4em dashed darken($colour-deemphasise, 10%); 
			}
		}
		a {
			cursor: pointer;
    	pointer-events: all;
		}
	}
}