/* == Fonts == */
$font-heading:								"Cabin Sketch";
$font-weight-heading:					700;
$font-weight:									400;
$font-spacing-heading:				0.1rem;

/* == Colours == */
$colour-background: 					#ffffff;
$colour-general:              #000000;
$colour-emphasis: 						#cccccc;
$colour-foreground: 					darken($colour-emphasis, 10%);
$colour-debug: 								#888888;
$colour-deemphasise:          #f3f3f3;
$colour-section:              #fafafa;

/* == Breakpoints == */
$small:									      "max-width: 32.5em";