{{#> table_header}}
<div class="btn-group btn-group-lg mb-0 d-none d-xl-inline-flex">
  <a{{#if id}} id="{{id}}_EXPORT"{{/if}} data-route="export.sheets" href="#"
          role="button" class="btn btn-primary btn-lg d-flex"><i class="mr-2 material-icons md-light md-24 align-self-center">save_alt</i>Export</a>
  <button type="button" class="btn btn-primary btn-lg dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <div class="dropdown-menu dropdown-menu-right">
    <a class="dropdown-item" data-route="export.csv" href="#">CSV</a>
    <a class="dropdown-item" data-route="export.excel" href="#">Excel</a>
    <a class="dropdown-item" data-route="export.markdown" href="#">Markdown</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#instructions.student.export">About</a>
  </div>
</div>
{{/table_header}}
