{% raw %}
<div {{#if id}}id="{{id}}" {{/if}}class="container-fluid mx-0 px-0">
  <h5 class="font-weight-light">{{who}}<span class="text-secondary ml-2">{{when}}</span></h5>
  <div class="row m-0 pt-2">
    <div class="col-12">
      <form>
        {{#each what}}{{~#if (any (is confirmed true) (is responseStatus "accepted"))}}<input type="text" id="{{id}}_input" name="{{id}}" 
          class="form-control{{#unless @last}} mb-2{{/unless}}" placeholder="{{name}}">{{/if~}}{{/each}}
      </form>
    </div>
  </div>
</div>
{% endraw %}