<span {{#if id}}id="{{id}}" {{/if}}class="badge lead badge-pill badge-{{either type 'action-dark'}} mr-2 mt-2 d-inline-flex align-items-center">
  	<span class="lead d-inline-flex p-1 my-0" data-output-name="{{either name '*'}}">{{value}}</span>
  	{{~#unless readonly}}<a role="button" data-action="remove" class="close d-inline-flex" aria-label="Remove" href="#">
      <span aria-hidden="true">×</span>
  	</a>{{/unless~}}
</span>
