$btn-elevation-shadow:									map-get($elevation-shadows, 2) !default;
$btn-elevation-shadow-focus:						map-get($elevation-shadows, 4) !default;
$btn-elevation-shadow-active:						map-get($elevation-shadows, 8) !default;
$btn-color:															$black-primary !default;
$btn-min-width:													5.5rem !default;
$btn-overlay:														$black-divider !default;
$btn-overlay-inverse:										$white-divider !default;
$btn-bg-active:													rgba(153, 153, 153, 0.4) !default;
$btn-bg-active-inverse:									rgba(204, 204, 204, 0.25) !default;
$btn-bg-disabled:												$black-divider !default;
$btn-bg-disabled-inverse:								$white-divider !default;
$btn-color-disabled:										rgba(0, 0, 0, 0.26) !default;
$btn-color-disabled-inverse:						rgba(255, 255, 255, 0.3) !default;
$btn-float-elevation-shadow:						map-get($elevation-shadows, 6) !default;
$btn-float-elevation-shadow-active:			map-get($elevation-shadows, 12) !default;
$btn-float-dropdown-inner-spacer-y:			1rem !default;
$btn-float-dropdown-line-height:				1.5rem !default;
$btn-float-dropdown-icon-size:					1.8rem !default;
$btn-float-dropdown-icon-line-height:		0.6rem !default;
$btn-float-size:												3.5rem !default;
$btn-float-size-sm:											2.5rem !default;
$btn-group-bg:													$white-primary !default;
$btn-group-inner-spacer-x:							1px !default;
$btn-group-inner-spacer-y:							1px !default;
$btn-group-toggle-opacity:							0.7 !default;