$white-primary-opacity:   1 !default;
$white-secondary-opacity: 0.7 !default;
$white-hint-opacity:      0.5 !default;
$white-divider-opacity:   0.12 !default;

$white-primary:           rgba(red($white), green($white), blue($white), $white-primary-opacity) !default;
$white-secondary:         rgba(red($white), green($white), blue($white), $white-secondary-opacity) !default;
$white-hint:              rgba(red($white), green($white), blue($white), $white-hint-opacity) !default;
$white-divider:           rgba(red($white), green($white), blue($white), $white-divider-opacity) !default;

$black-primary-opacity:   0.87 !default;
$black-secondary-opacity: 0.54 !default;
$black-hint-opacity:      0.38 !default;
$black-divider-opacity:   0.12 !default;

$black-primary:           rgba(red($black), green($black), blue($black), $black-primary-opacity) !default;
$black-secondary:         rgba(red($black), green($black), blue($black), $black-secondary-opacity) !default;
$black-hint:              rgba(red($black), green($black), blue($black), $black-hint-opacity) !default;
$black-divider:           rgba(red($black), green($black), blue($black), $black-divider-opacity) !default;