<div class="{{#unless @last}}border-bottom border-secondary py-1 {{/unless}}mb-1">
  <span class="d-block font-weight-bold mr-1">{{displayName}}</span>
  <span class="font-weight-light mr-1 pr-1 border-right border-secondary small">{{emailAddress}}</span>
  <span class="font-weight-normal small">{{role}}</span>
</div>
