---
layout: compress
style: landing
modules:
  - controller
  - service
imports:
- name: jquery
  load: first
- name: bootstrap-css
  load: first
logo: true
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-gb">
{% include head.html %}
	<body>
		<div class="container-fluid logo landing">
			<div class="title">
			  <h1 class="font-sensitive">{% if page.lead %}{{ page.lead }}{% else %}{{ page.title }}{% endif %}</h1>
		  </div>
		</div>
		{% include footer.html type="page" %}
  </body>
</html>