---
layout: compress
helpers:
  - scroll
modules:
  - controller
  - service
  - flags
  - display
  - page
imports:
- name: underscore
  load: first
- name: jquery
  load: first
- name: popper
  load: first
- name: bootstrap-js
  load: last
- name: urlparser
  load: last
- name: waves-css
  load: last
- name: waves-js
  load: last
css:
  primary:
    - bootstrap/functions
    - bootstrap/variables
    - bootstrap/mixins
    - bootstrap/root
    - bootstrap/reboot
    - bootstrap/type
    - bootstrap/images
    - bootstrap/grid
    - bootstrap/buttons
    - material/buttons
    - bootstrap/dropdown
    - bootstrap/nav
    - bootstrap/navbar
    - bootstrap/card
    - bootstrap/badge
    - bootstrap/jumbotron
    - bootstrap/utilities
    - custom/variables
    - custom/mixins/gradients
    - custom/basic
    - custom/common
    - custom/fonts
    - custom/page
    - custom/highlight
  secondary:
    - bootstrap/functions
    - bootstrap/variables
    - bootstrap/mixins
    - bootstrap/transitions
    - bootstrap/alert
    - bootstrap/close
    - bootstrap/modal
    - bootstrap/tooltip
    - bootstrap/popover
    - bootstrap/list-group
    - bootstrap/forms
    - bootstrap/print
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-gb">
	{% include head.html %}
	<body class="container">
		{% include nav.html type="sticky-top" %}
		<div class="container pb-4 px-0">
			<div class="jumbotron pt-4 pb-1 mb-1">
  			{% if page.for and site.data.apps[page.for].link and site.data.apps[page.for].ext != "true" %}<a class="btn btn-primary btn-lg float-md-right d-none d-md-inline-block" href="{{ site.data.apps[page.for].link }}" role="button">Open {{ site.data.apps[page.for].name }}</a>{% endif %}{% if page.layout == 'tutorial' %}<a class="btn btn-info btn-lg float-lg-right d-none d-lg-inline-block mr-2" href="/guides/{{ page.for}}">Guide</a>{% endif %}
				<h1 class="font-sensitive{% if page.layout != 'tutorial' %} display-4{% endif %}">{% if page.layout == 'guide' or page.layout == 'tutorial' %}{% if site.data.apps[page.for].logo %}{% assign app = site.data.apps[page.for] %}{% include {{ app.logo }} %}{% endif %}{% endif %}{% if page.short_title %}{{ page.short_title }}{% else %}{{ page.title }}{% endif %}</h1>
  			{% if page.lead %}<p class="lead">{{ page.lead | markdownify | remove: "<p>" | remove: "</p>" }}</p>{% endif %}
				{% if page.support %}
  				<hr class="my-4">
					{% include support.html %}
				{% endif %}
			</div>
			{{ content }}
		</div>
		{% include footer.html type="page" %}		
  </body>
</html>